﻿@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.sombreado {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.row{
	margin-left:20px;
	margin-right:20px;
}

body { 
padding-top: 70px; 
background-color: #E8EAF6;
}

.navbar-default {
    background-color: #3F51B5;
	border: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-brand>b {
	color: #E8EAF6;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-brand>b:focus, 
.navbar-default .navbar-nav>li>a:hover, .navbar-brand>b:hover {
	color: #ff6a00;
    border-bottom: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color: #C5CAE9;
	background-color: #303F9F;
}

.active, .active>a, .active>a:focus, .active>a:hover{
	border-bottom: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.titulo {

}

.tarjeta{
	margin: 10px 5px 10px 5px;
	padding-top: 15px;
	padding-bottom: 30px;	
	background-color:#FFFFFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.subTarjeta{
	margin: 10px 5px 10px 5px;
	padding-top: 15px;
	padding-bottom: 30px;	
	background-color:#C5CAE9;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#svgAgregar {
    align-content:flex-end;
    color:#303F9F;
}

.login {
    display: block; 
    width: 100%;
}

.formulario input[type=text], input[type=date], input[type=datetime-local], 
input[type=password], input[type=email], input[type=submit] {
	color: #838383;
  	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	padding: 10px;
  	border-radius: 3px;
  	background-color: #fff;
  	margin: 8px 0 8px 0px;
  	font-size: 14px;
  	width: 100%;
  	height: 43px;
}

table {
    width: 100%;
    text-align:center;
}

.table-bordered>thead>tr>th {
    text-align: center;
}