﻿@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

*,body{
	font-family: 'Montserrat', sans-serif;
}

.texto-derecha{
	text-align:right;
}

.flotar-derecha{
	float:right;
}

.textoGrande{
	font-size: 70px;
	line-height: 70px;
	font-weight:700;
}
.textoChico{
	font-size: 18px;
	line-height: 25px;
	color:#FF4E00;
	margin-bottom:0;
}

#DivLogo{
	padding-top:15px;
}

#DivIngreso{
	padding-top:10px;
}

#ImgIngreso{
	height: 43px; 
	width: 47px; 
	vertical-align:middle; 
	margin-left:10px;
}

.textoInicio{
	padding-top:50px;
}

.tamañoTextoGrande {
    font-size: 5em;
    color: #FF4E00;
}

.tituloCaracteristicas{
	text-align:center;
}

.tituloCaracteristicas div{
	display: inline-block;
	font-size: 26px;
	font-weight:600;
	padding-bottom:10px;
	margin-top:40px;
	margin-bottom:40px;
}

.tituloCaracteristicas div .texto{
	color:#ffffff;
}

.punto, #punto{
	color:#ff4e00;
}

#textoBlanco{
	color:#fff;
}

#textoCeleste{
	color:#7986eb;
}

#textoAzul{
	color:#303F9F;
}

/* HEADER */
.contenedor{
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#encabezado, .fila1{
	background-color:#303F9F;
	min-height: 500px;
}

/* INGRESAR */
.caja a{
	font-size: 16px;
	color:#ffffff;
}

.caja{
	width: 146px; 
	height: 43px; 
	background-color: #ff4e00; 
	border-radius: 7px 7px 7px 7px;
}

/* The style of the header of the form */
.formularioBordeSuperior{
	width: 348px;
	height: 55px;
	background-color: #FFF;
	border-radius: 25px 25px 0px 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 20px;
	color: #303F9F;
	font-size: 18px;
	font-weight: 600;
}


/*REGISTRARSE*/
#divRegistro, .fila2{
	background-color:#FFFFFF;
	min-height: 320px;
}

/*formulario*/
.contenedorDeCampos{
	display:inline-block;
	width:306px;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/*campos del formulario*/
#formularioRegistro input[type=text], input[type=password], input[type=email]{
	color: #838383;
  	background-color: #ffffff;
	border: 1px solid #D0D0D0;
	padding: 10px;
  	border-radius: 3px;
  	background-color: #fff;
  	margin: 8px 0 8px 0px;
  	font-size: 14px;
  	width: 100%;
  	height: 43px;
}

/* boton registrar */
#formularioRegistro input[type=submit]{
	font-size: 18px;
	color:#ffffff;
	width: 100%;
	height: 48px;
	background-color:#F04040;
	border:0;
	padding: 10px;
	border-radius: 3px;
	margin: 8px 0 8px 0px;
}

/*pasar sobre el boton registrar*/
#formularioRegistro input[type=submit]:hover{
	background-color:#d43b3b;
}

.textoPequeño {
	 font-size: 12px;
	 color:#999999;
}

/*CARACTERISTICAS*/
#caracteristicas, .fila3{
	background-color:#1A237E;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 400px;
}

.imagenCaracteristica{
	height: 127px; 
	width: 125px;
}

.caracteristicas .caracteristica{
	text-align:center;
}

.caracteristicas .caracteristica img{
	margin-bottom:15px;
}

.caracteristicas .caracteristica .tituloCaracteristica{
	margin-bottom:15px;
	color:#7986eb;
	font-size: 18px;
}

.caracteristicas .caracteristica .detalleCaracteristica{
	margin-bottom:30px;
	color:#b9b9b9;
	font-size: 14px;
}

/*PIE DE PAGINA*/
#pieDePagina, .fila4{
	background-color:#E1E1E1;
	min-height: 76px;
}

.pieDePagina-izquierdo{
	text-align:left;
	color:#808080;
	font-size:12px;
	margin-top:30px;
}

.pieDePagina-derecho{
	text-align:right;
	color:#808080;
	font-size:12px;
	margin-top:30px;
}


