﻿<!doctype html>
<html ng-app ="appPaginaEasyMade">
<head>
    <meta charset="UTF-8">
    <title>easyMADE</title>
    <link rel="stylesheet" type="text/css" href="Estilos/Librerias/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Estilos/index.css">
    <link href="Estilos/Librerias/pnotify.custom.css" media="all" rel="stylesheet" type="text/css" />
    <script src="Scripts/Librerias/jquery-1.11.2.min.js"></script>
    <script src="https://code.angularjs.org/1.4.0/angular.js"></script>
    <script src="Scripts/Librerias/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/Librerias/pnotify.custom.js"></script>
    <script src="Scripts/appPaginaEasyMade.js"></script>
</head>

<body ng-controller="controladorDeRegistro">
<div id="encabezado" class="contenedor fila1">
	<div class="container">
    	<div id="navbar" class="row">
    	 	<div id="DivLogo" class="col-xs-4">
        		<img src="Imagenes/logo.png">
        	</div>
            <div class="col-xs-7"></div>
        	<div id="DivIngreso" class="col-xs-1">
        		<button class="btn caja">
                    <a href="Aplicacion.html">Ingresar</a>
                </button>
        	</div>
    	</div>
		<div class="row">
    	 	<div class="col-md-7 col-sm-7 col-xs-8 textoInicio">  		
                <p class="textoGrande">
                <span id="textoCeleste">Facil.</span><br>
                <span id="textoCeleste">Centralizado.</span><br>
                <span id="textoBlanco">Gestioná tus<br>
                                     Dispositivos de la<br>
                                     Mejor manera</span><span id="punto">.</span>
                </p>
                <p class="textoChico">
                    Gestor Web de Dispositivos
                </p><br><br>
        	</div>
        	<div class="col-md-5 col-sm-5 col-xs-4"></div>
    	</div>
        <div class="row">
        	<div class="col-md-7 col-xs-12">
            <div class="formularioBordeSuperior">
                Formulario de Registro
			</div>
            </div>
        </div>
	</div>
</div>
<div id="divRegistro" class="contenedor fila2">
	<div class="container">
		<div class="row">
    	 	<div class="col-md-6 col-sm-6 form-holder">
        		<form id="formularioRegistro" name="formulario" novalidate>
                	<div class="contenedorDeCampos">
                		<input type="text" name="txtNombre" ng-model="usuarioARegistrar.Nombre" required="" placeholder="Nombre" maxlength=33>
                        <br />
                        <span style="color:red" ng-show="(enviado || formulario.txtNombre.$dirty) && formulario.txtNombre.$invalid">
                            <span ng-show="formulario.txtNombre.$error.required">Debe ingresar un nombre.</span>
                        </span>
                    	<input type="email" name="txtEmail" ng-model="usuarioARegistrar.Email" placeholder="Email" required maxlength=33>
                        <span style="color:red" ng-show="(enviado || formulario.txtEmail.$dirty) && formulario.txtEmail.$invalid">
                            <span ng-show="formulario.txtEmail.$error.required">Debe ingresar su email.</span>
                            <span ng-show="formulario.txtEmail.$error.email">Email inválido.</span>
                        </span>
                    	<input type="password" name="txtPassword" ng-model="usuarioARegistrar.Clave" placeholder="Contraseña" required maxlength=33>
                    	<span style="color:red" ng-show="(enviado || formulario.txtPassword.$dirty) && formulario.txtPassword.$invalid">
                            <span ng-show="formulario.txtPassword.$error.required">Debe ingresar una contraseña.</span>
                        </span>
                        <input type="submit" value="Registrarse" ng-click="submitted()">
                    </div>
                </form>
        	</div>
        	<div class="col-md-6 col-sm-6 textoInicio">
                <p class="textoGrande">
                <span id="textoAzul">Es Gratis</span><span id="Span2">.</span><br>
                <span id="Span3">Registrate ya!</span>
                </p>
                <p class="textoPequeño">
                    Registrate y comenzá a utilizar la mejor opción web para gestionar todos tus dispositivos.
                    En un solo sitio y de forma centralizada.
                </p>
        	</div>
    	</div>
	</div>
</div>
<div id="caracteristicas" class="contenedor fila3 caracteristicas">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 tituloCaracteristicas">
            	<div>
               		<span class="texto">Caracteristicas</span><span class="punto">.</span>
                </div>
            </div>
        </div>
		<div class="row">
        	<div class="col-sm-4 col-xs-4 caracteristica">
                <span class="tamañoTextoGrande glyphicon glyphicon-cloud-upload"></span><br>
                <br />
                <div class="tituloCaracteristica">Wireless</div>
                <div class="detalleCaracteristica">Registre valores remotamente accediendo directamente desde sus dispositivos.</div>
        	</div>
           <div class="col-sm-4 col-xs-4 caracteristica">
        		<span class="tamañoTextoGrande glyphicon glyphicon-phone"></span><br>
                <br />
               <div class="tituloCaracteristica">Responsiva</div>
                <div class="detalleCaracteristica">Visualice este sitio tanto en su PC como en su movil o tablet.</div>
        	</div>
    	 	<div class="col-sm-4 col-xs-4 caracteristica">
        		<span class="tamañoTextoGrande glyphicon glyphicon-stats"></span><br>
                <br />
                <div class="tituloCaracteristica">Estadística</div>
                <div class="detalleCaracteristica">Represente sus datos en una gráfica, para visualizar la evolución de los mismos .</div>
        	</div>
    	</div>
	</div>
</div>
<div id="pieDePagina" class="contenedor fila4">
	<div class="container">
		<div class="row">
    	 	<div class="col-md-6 col-sm-6 col-xs-12 pieDePagina-izquierdo">
        		Obligatorio - Diseño de Aplicaciones 2 - Universidad ORT Uruguay.
        	</div>
        	<div class="col-md-6 col-sm-6 col-xs-12 pieDePagina-derecho">
                Agustin Bergara (183401) - Gonzalo Alvariño (183512)
            </div>
    	</div>
	</div>
</div>



</body>
</html>
