﻿<nav class="navbar navbar-default navbar-fixed-top sombreado">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barraNavegacion" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-titulo" href="/Aplicacion.html#/dispositivos"><b><i>easy</i>MADE</b></a>
		</div>

		<div class="collapse navbar-collapse" id="barraNavegacion">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/dispositivos">Mis Dispositivos</a></li>
				<li><a href="#/tiposDeDispositivo">Tipos de Dispositivos</a></li>
				<li><a href="#/registrosDeVariables">Registros de Variables</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.Nombre}}<span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="container">
    <div class="row">
        <h3>Mis Dispositivos <button type="button" class="btn btn-default btn-xs" id="btnAgregarDispositivo" aria-label="Right Align">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button></h3>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-8 col-xl-12 tarjeta" ng-repeat="dispositivo in usuario.Dispositivos">
            <button type="button" class="close" aria-label="Close" ng-click="eliminarDispositivo(dispositivo)"><span aria-hidden="true">&times;</span></button>
            <button type="button" class="btn btn-default btn-xs" aria-label="Right Align" ng-hide="mostrarEditar" ng-click = "clickBotonEditar(dispositivo.Nombre)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <div class="row">
                <img src="http://localhost:49866/api/Files/{{dispositivo.DispositivoId}}" alt="Alternate Text" ng-hide="mostrarEditar"/>
                <p ng-hide="mostrarEditar"><b>Nombre: </b>{{ dispositivo.Nombre }}<small><i>(ID:{{ dispositivo.DispositivoId }})</i></small></p>
                <br/>
            </div>
            <form name="formulario" class="formulario" novalidate ng-show="mostrarEditar">
                <div class="row" >
                    <div class="col-lg-12" ng-hide="mostrarEditarNombre">
                        <button id="btnMostrarEditarNombre" name="btnUpdate" class="btn btn-default" style="width:100%; margin-top:10px" ng-click="mostrarEditarNombre = true">Editar Nombre</button>
                        <br />
                    </div>
                    
                    <div class="col-lg-12" ng-show="mostrarEditarNombre">
                        <div class="col-lg-6">
                            <input type="text" ng-model="dispositivo.Nombre" name="nombreDispositivo" placeholder="Ingrese un nombre" required="" maxlength=20/>
                            <br />
                            <div ng-show="formulario.$submitted || formulario.nombreDispositivo.$touched">
                                <div ng-show="formulario.nombreDispositivo.$error.required">
                                    <small>Debe ingresar un Nombre de Dispositivo</small>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-default btn-xs" type="button" value="Cancelar" ng-click ="cancelarEdicion(dispositivo)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-success btn-xs" type="submit" ng-disabled="formulario.nombreDispositivo.$dirty && formulario.nombreDispositivo.$invalid" ng-click="modificarDispositivo(dispositivo)">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12" ng-hide="mostrarEditarImagen">
                        <button id="btnMostrarEditarImagen" name="btnUpdate" class="btn btn-default" style="width:100%; margin-top:10px;" ng-click="mostrarEditarImagen = true">Editar Imagen</button>
                    </div>
                    <div class="col-lg-12" ng-show="mostrarEditarImagen">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Imagen:</label>
                                </div>
                                <div class="col-md-12">
                                    <input id="inputFile{{dispositivo.DispositivoId}}" type="file" multiple="multiple" accept="image/*" />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-8 col-md-2">
                                    <button id="btnUpload" name="btnUpdate" class="btn btn-default" ng-click="subirImagen(dispositivo)">Subir Imagen</button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                         </div>
                    </div> 


                </div>
            </form>
            <div class="row">
                <p><b>Tipo de dispositivo: </b>{{ dispositivo.TipoDeDispositivo.Nombre }}</p>
                <br/>
            </div>
            <div class="row">
                <p><b>Descripción </b>{{ dispositivo.TipoDeDispositivo.Descripcion }}</p>
                <br/>
            </div>
            <div class="row">
                <p><b>Variables:</b></p>
                <div class="col-lg-5 col-md-8 col-xl-12 subTarjeta" ng-repeat="variable in dispositivo.TipoDeDispositivo.Variables">
                    <p><b>Nombre: </b>{{ variable.Nombre }}</p>
                    <p><b>Máximo: </b>{{ variable.Maximo }}</p>
                    <p><b>Mínimo: </b>{{ variable.Minimo }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
