﻿<nav class="navbar navbar-default navbar-fixed-top sombreado">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barraNavegacion" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-titulo" href=""><b><i>easy</i>MADE</b></a>
		</div>
    </div>
</nav>        
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-6 tarjeta">
            <h4>Log-In</h4>
            <br />
            <form id="formularioRegistro" name="formularioRegistro" novalidate>
                <div class="row">
                    <div class="col-xs-4">
                        Email:
                    </div>
                    <div class="col-xs-5">
                        <input class="login" type="email" name="txtEmail" ng-model="usuarioARegistrarse.Email" placeholder="Email" maxlength=33>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-4">
                        Contraseña:
                    </div>
                    <div class="col-xs-5">
                        <input class="login" type="password" name="txtPassword" ng-model="usuarioARegistrarse.Clave" placeholder="Contraseña" maxlength=33>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-5">
                        <input class="btn btn-info btn-xs login" type="submit" value="Ingresar" ng-click="loguearUsuario()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
