﻿<nav class="navbar navbar-default navbar-fixed-top sombreado">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barraNavegacion" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-titulo" href="/Aplicacion.html#/dispositivos"><b><i>easy</i>MADE</b></a>
		</div>

		<div class="collapse navbar-collapse" id="barraNavegacion">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/dispositivos">Mis Dispositivos</a></li>
				<li><a href="#/tiposDeDispositivo">Tipos de Dispositivos</a></li>
				<li><a href="#/registrosDeVariables">Registros de Variables</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.Nombre}}<span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="container">
    <div class="row">
        <h3>Agregar Dispositivo</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ingrese los datos del dispositivo
                </div>
                <div class="panel-body">
                    <form name="formulario" class="formulario" novalidate>
                        <div class="row">
                            <div class="col-lg-6">
                                Nombre:
                            </div>
                            <div class="col-lg-6">
                                <input type="text" ng-model="dispositivo.Nombre" name="nombreDispositivo" placeholder="Ingrese un nombre" required="" maxlength=20/>
                                <br />
                                <span style="color:red" ng-show="formulario.nombreDispositivo.$dirty && formulario.nombreDispositivo.$invalid">
                                  <span ng-show="formulario.nombreDispositivo.$error.required">Debe ingresar un nombre.</span>
                                </span>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                Tipo de Dispostivo:
                            </div>
                            <div class="col-lg-6">
                                <select ng-model="dispositivo.TipoDeDispositivo" name="tipoDispositivo" required="">
                                    <option ng-repeat="tipo in TiposDeDispositivo" value="{{ tipo.TipoDeDispositivoId }}">{{ tipo.Nombre }} <small>(ID:{{ tipo.TipoDeDispositivoId }})</small></option>
                                </select>
                                <br />
                                <div ng-show="formulario.$submitted || formulario.tipoDispositivo.$touched && dispositivo.TipoDeDispositivo == ''">
                                    <div ng-show="formulario.tipoDispositivo.$error.required">
                                        <small>Debe seleccionar un Tipo de Dispositivo</small>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <a href="../sitioEasyMade/Aplicacion.html#/">
                                    <input class="btn btn-default" type="button" value="Cancelar" />
                                </a>
                                <button class="btn btn-success" type="submit" ng-click="agregarDispositivo()"
                                    ng-disabled="formulario.nombreDispositivo.$dirty && formulario.nombreDispositivo.$invalid || formulario.tipoDispositivo.$pristine">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>