﻿<nav class="navbar navbar-default navbar-fixed-top sombreado">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barraNavegacion" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-titulo" href="/Aplicacion.html#/dispositivos"><b><i>easy</i>MADE</b></a>
		</div>

		<div class="collapse navbar-collapse" id="barraNavegacion">
			<ul class="nav navbar-nav">
				<li><a href="#/dispositivos">Mis Dispositivos</a></li>
				<li><a href="#/tiposDeDispositivo">Tipos de Dispositivos</a></li>
				<li class="active"><a href="#/registrosDeVariables">Registros de Variables</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.Nombre}}<span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="container">
    <div class="row">
        <h3>Registros de Variables</h3> 
    </div>
    <div class="tarjeta">
        <form name="formulario" class="formulario" novalidate>
            <div class="row">
                <div class="col-lg-3">
                    Dispositivo:
                    <br /> 
                    <select ng-model="dispositivoSeleccionado" name="selectDispositivo" required="" ng-change="cambioDispositivoSeleccionado()">
                        <option ng-repeat="dispositivo in usuario.Dispositivos" value="{{dispositivo.DispositivoId}}">{{ dispositivo.Nombre }} <small>(ID:{{ dispositivo.DispositivoId }})</small></option>
                    </select>
                    <br />
                        <div ng-show="formulario.$submitted || formulario.selectDispositivo.$touched">
                            <div ng-show="formulario.selectDispositivo.$error.required">
                                <small>Debe seleccionar un Dispositivo</small>
                            </div>
                        </div>
                    <br />
                </div>
                <div class="col-lg-3">
                    Variable: 
                    <br />
                    <select ng-model="variableSeleccionada" name ="selectVariable">
                        <option ng-repeat="variable in miTipoDeDispositivo.Variables" value="{{ variable.VariableId }}">{{ variable.Nombre }} (ID:{{ variable.VariableId }})</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    Fecha Inicio:  <input type="datetime-local" id="inputFechaDesde" name="inputFechaDesde" ng-model="fechaDesdeCompleta" required /><br />
                    <br />
                    <span style="color:red" ng-show="fechasErradas || formulario.inputFechaDesde.$dirty && formulario.inputFechaDesde.$invalid">
                        <span ng-show="formulario.inputFechaDesde.$error.required">Debe ingresar una fecha.</span>
                        <span ng-show="fechasErradas">Esta fecha debe ser menor que Fecha Fin.</span>
                    </span>
                </div>
                <div class="col-lg-3">
                    Fecha Fin:  <input type="datetime-local" id="inputFechaHasta" name="inputFechaHasta" ng-model="fechaHastaCompleta" required /><br />
                    <br />
                    <span style="color:red" ng-show="fechasErradas || formulario.inputFechaHasta.$dirty && formulario.inputFechaHasta.$invalid">
                        <span ng-show="formulario.inputFechaHasta.$error.required">Debe ingresar una fecha.</span>
                        <span ng-show="fechasErradas">Esta fecha debe ser mayor que Fecha Inicio.</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11"></div>
                <div class="col-lg-1">
                    <input class="btn btn-success btn-xs" type="submit" ng-model="submit" ng-click="obtenerRegistros()" value="Buscar" 
                        ng-disabled="formulario.selectDispositivo.$pristine || formulario.selectVariable.$pristine || formulario.inputFechaDesde.$invalid 
                        || formulario.inputFechaHasta.$invalid || formulario.inputFechaDesde.$error.required || formulario.inputFechaHasta.$error.required"/>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 table-responsive tarjeta">
                <table id="tablaDeRegistros" class="display table-striped table-bordered">
                    <thead>
                        <tr><th>Fecha y Hora</th><th>Valor del Registro</th></tr>
                    </thead>
                    <tbody id="#bodyDeRegistros">

                    </tbody>
                </table>
            </div>
        </div> 
    </div>
    <div class="row tarjeta" ng-include="graficaDeRegistros">
    </div>
</div>
