﻿<nav class="navbar navbar-default navbar-fixed-top sombreado">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barraNavegacion" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-titulo" href="/Aplicacion.html#/dispositivos"><b><i>easy</i>MADE</b></a>
		</div>

		<div class="collapse navbar-collapse" id="barraNavegacion">
			<ul class="nav navbar-nav">
				<li><a href="#/dispositivos">Mis Dispositivos</a></li>
				<li class="active"><a href="#/tiposDeDispositivo">Tipos de Dispositivos</a></li>
				<li><a href="#/registrosDeVariables">Registros de Variables</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario.Nombre}}<span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="container">
    <div class="row">
        <h3>Tipos de Dispositivo</h3> 
    </div>
    <div class="row">    
        <div ng-repeat="tipoDeDispositivo in tiposDeDispositivo">
            <div class="col-lg-10 col-md-12 col-xs-12 tarjeta">
                <p><b>Nombre: </b>{{ tipoDeDispositivo.Nombre }}<small><i>(ID:{{ tipoDeDispositivo.TipoDeDispositivoId }})</i></small></p>
                <br />
                <p><b>Descripción: </b>{{ tipoDeDispositivo.Descripcion }}</p>
                <br />
                <p><b>Variables:</b></p>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-5 subTarjeta" ng-repeat="variable in tipoDeDispositivo.Variables">
                        <p><b>Nombre: </b>{{ variable.Nombre }}</p>
                        <p><b>Máximo: </b>{{ variable.Maximo }}</p>
                        <p><b>Mínimo: </b>{{ variable.Minimo }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
