﻿<div class="Container">
    <h1>USUARIOS</h1> 
    <div ng-repeat="user in usuarios">
        <div class="row">
            <div class="col-lg-4 col-sm-6 tarjeta">
                <h3>Nombre:{{ user.Nombre }}
                <small>{{ user.UsuarioId }}</small>
                </h3>
                <p>{{ user.Email }}</p>
            </div>
        </div>
    </div>
</div>